<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>


    <div id="page">
        <nav class="gtco-nav" role="navigation">
            <div class="gtco-container">
                <div>
                    <div class="text-left">
                        <div id="gtco-logo"><a href="/">权益手册</a></div>
                    </div>
                    <div class="menu-1 text-right">
                        <ul>
                            <li class={% block li_active_index %}{% endblock %}><a href="/">学在珞珈</a></li>
                            <li class={% block li_active_about %}{% endblock %}><a href="/about">玩在武大</a></li>
                            <li class="has-dropdown {% block li_active_campus %}{% endblock %}"><a href="/campus">校园攻略</a>
                                <ul class="dropdown">
                                    <li><a href="/campus#1">校园周边</a>
                                        <li><a href="/campus#2">周边设施</a></li>
                                </ul>
                                </li>
                                <li class={% block li_active_dormitory %}{% endblock %}><a href="/dormitory">寝室环境</a></li>
                                <li class={% block li_active_contact %}{% endblock %}><a href="/contact">全心权益</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>

        <header id="gtco-header" class="gtco-cover {% block header_height %}gtco-cover-xs{% endblock %}" role="banner" style="background-image: url(/static/images/1.jpg);" ">
		<div class="overlay "></div>
		<div class="gtco-container ">
			<div class="row ">
				<div class="col-md-12 col-md-offset-0 text-left ">
					<div class="display-t ">
						<div class="display-tc ">
							<h1 class="animate-box " data-animate-effect="fadeInUp ">{% block header_h1 %}{% endblock %}</h1>
							<h2 class="animate-box " data-animate-effect="fadeInUp ">{% block header_h2 %}{% endblock %}</h2>
							{% block index_download %}{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	{% block content %}{% endblock %}

	<footer id="gtco-footer " role="contentinfo ">
		<div class="gtco-container ">
			<div class="row row-p b-md ">

				<div class="col-md-4 ">
					<div class="gtco-widget ">
						<h3>关于权益</h3>
						<p>我们是武汉大学国际软件学院学生会下属权益部，我们的心愿是————世界和平。</p>
					</div>
				</div>

				<div class="col-md-4 col-md-push-1 ">
					<div class="gtco-widget ">
						<h3>相关链接</h3>
						<ul class="gtco-footer-links ">
							<li><a href="http://www.whu.edu.cn/ ">武汉大学</a></li>
							<li><a href="http://iss.whu.edu.cn/ ">武大国际软件学院</a></li>
							<li><a href="http://yx.whu.edu.cn/ ">武大迎新网</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-4 ">
					<div class="gtco-widget ">
						<h3>联系我们</h3>
						<ul class="gtco-quick-contact ">
							<li><a href="https://mail.qq.com/cgi-bin/loginpage?autologin=n&errtype=1&clientuin=2810601295&param=&sp=&tfcont=22%20serialization%3A%3Aarchive%205%200%200%204%200%200%200%208%20authtype%201%204%209%20clientuin%2010%202810601295%206%20domain%206%20qq.com%202%20vm%203%20wsk&r=21cc9e48b5c11805d738133739da30a8
            "><i class="icon-mail2 "></i>2810601295@qq.com</a></li>
							<li><a target="_blank " href="http://wpa.qq.com/msgrd?v=3&uin=2810601295&site=qq&menu=yes "><img border="0 " src="http://wpa.qq.com/pa?p=2:2810601295:52 " alt="欢迎联系国软权益 " title="欢迎联系国软权益 "/><i class="icon-mail2 "></i>QQ:2810601295</a></li>
						</ul>
					</div>
				</div>

			</div>

			<div class="row copyright ">
				<div class="col-md-12 ">
					<p class="pull-left ">
						<small class="block ">&copy; 2016 国软权益. All Rights Reserved.</small> 
					</p>
					<p class="pull-right ">
						<ul class="gtco-social-icons pull-right ">
					
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top ">
		<a href="# " class="js-gotop "><i class="icon-arrow-up "></i></a>
	</div>


	</body>
</html>