<!DOCTYPE HTML>
<!--
{% macro pagination(url, page) %}
    <ul class="uk-pagination">
        {% if page.has_previous %}
            <li><a href="{{ url }}{{ page.page_index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
            <li><a href="{{ url }}{{ page.page_index - 1 }}"><span>{{ page.page_index -1  }}</span></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
        	<li><a href="{{ url }}{{ page.page_index + 1 }}"><span>{{ page.page_index +1  }}</span></a></li>
            <li><a href="{{ url }}{{ page.page_index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
    </ul>
{% endmacro %}
-->
<html>

<head>
    <meta name="google-site-verification" content="6itxMNCnw6xEmODDqBWTzUsmrI-lqGHZQaNlMebIwac" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> {% block meta %}
    <!-- block meta  -->{% endblock %}
    <title>{% block title %}{% endblock %} - 权益手册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template" />
    <!-- <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet"> -->

    <!-- Animate.css -->
{% block beforehead %}
    <!-- before head  -->{% endblock %}
    <link rel="stylesheet" href="/static/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/static/css/icomoon.css">
    <!-- Themify Icons-->
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/static/css/magnific-popup.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Modernizr JS -->
    <script src="/static/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

    <div class="gtco-loader"></div>

    <div id="page">
        <nav class="gtco-nav" role="navigation">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 text-right gtco-contact">
                        <!--	<ul class="">
					{% if __user__ %}
						<li><a href="#"><i></i>{{ __user__.name }}</a></li>
						<li><a href="signout"><i></i>退出</a></li>
					{% else %}
						<li><a href="signin"><i></i>登陆</a></li>
						<li><a href="register"><i></i>注册</a></li>
					{% endif %}
					</ul>
				-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div id="gtco-logo"><a href="/">权益手册</a></div>
                    </div>
                    <div class="col-xs-8 text-right menu-1">
                        <ul>
                            <li class={% block li_active_study %}{% endblock %}><a href="/study">学在珞珈</a></li>
                            <li class={% block li_active_help %}{% endblock %}><a href="/help">新生攻略</a></li>
                                <li class={% block li_active_dormitory %}{% endblock %}><a href="/dormitory">寝室环境</a></li>
                                <li class={% block li_active_contact %}{% endblock %}><a href="/contact">全心权益</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>

        <header id="gtco-header" class="gtco-cover {% block header_height %}gtco-cover-xs{% endblock %}" role="banner" style="background-image: url(/static/images/1.jpg);" ">
		<div class="overlay "></div>
		<div class="gtco-container ">
			<div class="row ">
				<div class="col-md-12 col-md-offset-0 text-left ">
					<div class="display-t ">
						<div class="display-tc ">
							<h1 class="animate-box " data-animate-effect="fadeInUp ">{% block header_h1 %}{% endblock %}</h1>
							<h2 class="animate-box " data-animate-effect="fadeInUp ">{% block header_h2 %}{% endblock %}</h2>
							{% block index_download %}{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	{% block content %}{% endblock %}

	<footer id="gtco-footer " role="contentinfo " style="padding: 15px 0 0 0;">
		<div class="gtco-container ">
			<div class="row row-p b-md ">

				<div class="col-md-4 ">
					<div class="gtco-widget ">
						<h3>关于权益</h3>
						<p>我们是武汉大学国际软件学院学生会下属权益部，我们的心愿是————世界和平。</p>
					</div>
				</div>

				<div class="col-md-4 col-md-push-1 ">
					<div class="gtco-widget ">
						<h3>相关链接</h3>
						<ul class="gtco-footer-links ">
							<li><a href="http://www.whu.edu.cn/ ">武汉大学</a></li>
							<li><a href="http://iss.whu.edu.cn/ ">武大国际软件学院</a></li>
							<li><a href="http://yx.whu.edu.cn/ ">武大迎新网</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-4 ">
					<div class="gtco-widget ">
						<h3>联系我们</h3>
						<ul class="gtco-quick-contact ">
							<li><a href="https://mail.qq.com/cgi-bin/loginpage?autologin=n&errtype=1&clientuin=2810601295&param=&sp=&tfcont=22%20serialization%3A%3Aarchive%205%200%200%204%200%200%200%208%20authtype%201%204%209%20clientuin%2010%202810601295%206%20domain%206%20qq.com%202%20vm%203%20wsk&r=21cc9e48b5c11805d738133739da30a8
            "><i class="icon-mail2 "></i>2810601295@qq.com</a></li>
							<li><a target="_blank " href="http://wpa.qq.com/msgrd?v=3&uin=2810601295&site=qq&menu=yes "><img border="0 " src="http://wpa.qq.com/pa?p=2:2810601295:52 " alt="欢迎联系国软权益 " title="欢迎联系国软权益 "/><i class="icon-mail2 "></i>QQ:2810601295</a></li>
						</ul>
					</div>
				</div>

			</div>

			<div class="row copyright ">
				<div class="col-md-12 ">
					<p class="pull-left ">
						<small class="block ">&copy; 2016 国软权益. All Rights Reserved.</small> 
					</p>
					<p class="pull-right ">
						<ul class="gtco-social-icons pull-right ">
					
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top ">
		<a href="# " class="js-gotop "><i class="icon-arrow-up "></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="/static/js/jquery.min.js "></script>
	<!-- jQuery Easing -->
	<script src="/static/js/jquery.easing.1.3.js "></script>
	<!-- Bootstrap -->
	<script src="/static/js/bootstrap.min.js "></script>
	<!-- Waypoints -->
	<script src="/static/js/jquery.waypoints.min.js "></script>
	<!-- Carousel -->
	<script src="/static/js/owl.carousel.min.js "></script>
	<!-- countTo -->
	<script src="/static/js/jquery.countTo.js "></script>

	<!-- Magnific Popup -->
	<script src="/static/js/jquery.magnific-popup.min.js "></script>
	<script src="/static/js/magnific-popup-options.js "></script>
	<!-- Main -->
	<script src="/static/js/main.js "></script>

	</body>
</html>