
{% extends '__base__.html' %}

{% block title %}全心权益{% endblock %}
{% block beforehead %}
<link rel="stylesheet" href="/static/css/style_4.css">
    <style type="text/css">
    .new-grid.col-md-6{
        padding-right: 0;
        padding-left: 0;
    }
    </style>
{% endblock %}
{% block li_active_help %}active {% endblock %}
{% block header_h1 %}交通{% endblock %}
{% block header_h2 %}虽然是我们国软没有文理学部那么好看，但是我们的交通绝对是杠杠的~{% endblock %}

{% block content %}
	<div class="news">
					<div class="container">
						<h3>皮皮虾，我们走</h3>
						<div class="new-grids">

							<div class="col-md-6 new-grid" style="float:left; height: 375px;">
									<a  class="mask">
						<img src="/static/images/trans_1.jpg" class="img-responsive zoom-img" alt="" style="height: 375px;"></a>
						</div>
							<div class="col-md-6 new-grid1" style="height: 375px;">
								<h5></h5>
								<h4>地铁站C口</h4>
								<p>街道口地铁站C口：位于创意城前方20米处</p>
							</div>
							<div class="clearfix"></div>

							<div class="col-md-6 new-grid" style="float:right; height: 375px;">
									<a  class="mask">
						<img src="/static/images/trans_2.jpg" class="img-responsive zoom-img" alt="" style="height: 375px;"></a>
						</div>
							<div class="col-md-6 new-grid1" style="height: 375px;">
								<h5></h5>
								<h4>地铁站B口</h4>
								<p>对面的</p>
							</div>
							<div class="clearfix"></div>

							<div class="clearfix"></div>
						</div>
					</div>
				</div>

{% endblock %}
