{% extends '__base__.html' %}

{% block title %}寝室环境{% endblock %}
{% block li_active_dormitory %}active {% endblock %}
{% block header_h1 %}寝室环境{% endblock %}
{% block header_h2 %}一屋不扫何以扫天下{% endblock %}

{% block content %} 
	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row row-pb-md">
				<div class="col-md-12">
					<ul id="gtco-portfolio-list">
						<li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/myhome_1.jpg); "> 
							<a href="#" class="color-1">
								<div class="case-studies-summary">
									<span>男生寝室</span>
									<h2>划重点，校草，女友，聊天，XXX</h2>
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/myhome_2.jpg); ">
							<a href="#" class="color-2">
								<div class="case-studies-summary">
									<span>女寝</span>
									<h2>哈哈哈哈哈哈哈</h2>
								</div>
							</a>
						</li>


						<li class="one-half animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/myhome_3.jpg); ">
							<a href="#" class="color-3">
								<div class="case-studies-summary">
									<span>绝望坡</span>
									<h2>武大的妖风</h2>
								</div>
							</a>
						</li>
						<li class="one-half animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/myhome_4.jpg); ">
							<a href="#" class="color-4">
								<div class="case-studies-summary">
									<span>热水机</span>
									<h2>多喝热水</h2>
								</div>
							</a>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/myhome_5.jpg); "> 
							<a href="#" class="color-5">
								<div class="case-studies-summary">
									<span>插座</span>
									<h2>小心手雷</h2>
								</div>
							</a>
						</li>
						<li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/myhome_6.jpg); ">
							<a href="#" class="color-6">
								<div class="case-studies-summary">
									<span>陈嘉捷的寝室？</span>
									<h2>萱萱你冷静</h2>
								</div>
							</a>
						</li>
					</ul>		
				</div>
			</div>
			<div class="row">
{% endblock %}