
{% extends '__base__.html' %}

{% block title %}全心权益{% endblock %}
{% block beforehead %}
<link rel="stylesheet" href="/static/css/style_4.css">
    <style type="text/css">
    .new-grid.col-md-6{
        padding-right: 0;
        padding-left: 0;
    }
    </style>
{% endblock %}
{% block li_active_help %}active {% endblock %}
{% block header_h1 %}美食{% endblock %}
{% block header_h2 %}{% endblock %}

{% block content %}

<div class="news">
					<div class="container">
						<h3>美食城</h3>
                        <div class="new-grids">

							<div class="col-md-6 new-grid" style="float:left; height: 375px;">
									<a  class="mask">
						<img src="/static/images/food_1.jpg" class="img-responsive zoom-img" alt="" style="height: 375px;"></a>
						</div>
							<div class="col-md-6 new-grid1" style="height: 375px;">
								<h5></h5>
								<h4>创意城-1楼美食街</h4>
								<p>这里有各种饮料、快餐、以及特色料理哦~还有杯子与糖（面包店）良品铺子等等等 （更多精彩内容等你来探索~PS：这里高低消费都有的，不用担心自己的零花钱哒）</p>
							</div>
							<div class="clearfix"></div>

							<div class="col-md-6 new-grid" style="float:right; height: 375px;">
									<a  class="mask">
						<img src="/static/images/food_2.jpg" class="img-responsive zoom-img" alt="" style="height: 375px;"></a>
						</div>
							<div class="col-md-6 new-grid1" style="height: 375px;">
								<h5></h5>
								<h4>创意城7、8、9楼</h4>
								<p>挺雅致的一些餐厅，环境都挺好的哦~还有主题餐饮，比如烤肉、米线、火锅、牛排什么的 （PS：尤其推荐7楼的随缘小厨和八楼的绿茶（这是个餐厅），人均消费30左右，但是真的很好吃！）</p>
							</div>
							<div class="clearfix"></div>

							<div class="col-md-6 new-grid" style="float:left; height: 375px;">
									<a  class="mask">
						<img src="/static/images/food_3.jpg" class="img-responsive zoom-img" alt="" style="height: 375px;"></a>
						</div>
							<div class="col-md-6 new-grid1" style="height: 375px;">
								<h5></h5>
								<h4>乐天城一楼</h4>
								<p>美食街（PS:小权权实在没事肚子和money去享受所有的美食了...程序猿们，自己去探索吧！）</p>
							</div>
							<div class="clearfix"></div>

							<div class="col-md-6 new-grid" style="float:right; height: 375px;">
									<a  class="mask">
						<img src="/static/images/food_4.jpg" class="img-responsive zoom-img" alt="" style="height: 375px;"></a>
						</div>
							<div class="col-md-6 new-grid1" style="height: 375px;">
								<h5></h5>
								<h4>赛博珞珈胡同</h4>
								<p>这里大家有时间可以去逛一逛，小权权感觉这里海通有意思的，可能因为还没有完全装修好，所以有些冷清，但以后说不定就火起来了哦~</p>
							</div>
							<div class="clearfix"></div>

							<div class="col-md-6 new-grid" style="float:left; height: 375px;">
									<a  class="mask">
						<img src="/static/images/food_5.jpg" class="img-responsive zoom-img" alt="" style="height: 375px;"></a>
						</div>
							<div class="col-md-6 new-grid1" style="height: 375px;">
								<h5></h5>
								<h4>烧烤</h4>
								<p>老街烧烤（有四家：后门出门右转步行100米一家，出后门左转100米高架桥下一家，在群光那一排还有两家，都蛮近的，大家可以自由选择哦~）</p>
							</div>
							<div class="clearfix"></div>

							<div class="col-md-6 new-grid" style="float:right; height: 375px;">
									<a  class="mask">
						<img src="/static/images/food_6.jpg" class="img-responsive zoom-img" alt="" style="height: 375px;"></a>
						</div>
							<div class="col-md-6 new-grid1" style="height: 375px;">
								<h5></h5>
								<h4>火锅</h4>
								<p>锅内锅外自助火锅（创意城9楼，据说很好吃！！！但是小权权还没有去过...要是有大佬愿意带我们去就好啦~） 重庆小天鹅（创意城7楼）百味鱼（乐天城3楼）重百火锅（校内南二门门口）</p>
							</div>
							<div class="clearfix"></div>

							<div class="clearfix"></div>
						</div>
					</div>
				</div>

<div class="content">
			<div class="Sharing">
				<div class="container">
					<div class="sharing-grids">
					<div class="col-md-3 sharing-img">
							<img src="/static/images/food_7.jpg" class="img-responsive" alt=""/>
						</div>

						<div class="col-md-9 sharing-grid">
							<h2>后门小吃</h2>
							<h4>（主要是剁饼，包子）</h4>
							<p></p>
						</div>
						<div class="clerafix"></div>
					</div>
				</div>
			</div>
                </div>
<div class="content">
			<div class="Sharing">
				<div class="container">
					<div class="sharing-grids">
					<div class="col-md-3 sharing-img">
							<img src="/static/images/food_8.jpg" class="img-responsive" alt=""/>
						</div>

						<div class="col-md-9 sharing-grid">
							<h2>夜宵</h2>
							<h4>（在后门右转老街烧烤附近，有很多特色小餐馆，在这里，你可以和自己的小伙伴们一遍侃大山一边撸串，想想还有点小激动呢</h4>
							<p></p>
						</div>
						<div class="clerafix"></div>
					</div>
				</div>
			</div>
                </div>
<div class="content">
			<div class="Sharing">
				<div class="container">
					<div class="sharing-grids">
					<div class="col-md-3 sharing-img">
							<img src="/static/images/food_9.jpg" class="img-responsive" alt=""/>
						</div>

						<div class="col-md-9 sharing-grid">
							<h2>中式餐饮区</h2>
							<h4>（高架桥下珞狮路北站公交站旁，很多餐馆，面馆）</h4>
							<p></p>
						</div>
						<div class="clerafix"></div>
					</div>
				</div>
			</div>
                </div>
<div class="content">
			<div class="Sharing">
				<div class="container">
					<div class="sharing-grids">
					<div class="col-md-3 sharing-img">
							<img src="/static/images/food_10.jpg" class="img-responsive" alt=""/>
						</div>

						<div class="col-md-9 sharing-grid">
							<h2>创意城漫咖啡</h2>
							<h4></h4>
							<p></p>
						</div>
						<div class="clerafix"></div>
					</div>
				</div>
			</div>

                </div>

{% endblock %}



