
{% extends '__base__.html' %}

{% block title %}全心权益{% endblock %}
{% block beforehead %}
<link rel="stylesheet" href="/static/css/style_4.css">
    <style type="text/css">
    .new-grid.col-md-6{
        padding-right: 0;
        padding-left: 0;
    }
    </style>
{% endblock %}
{% block li_active_help %}active {% endblock %}
{% block header_h1 %}玩乐{% endblock %}
{% block header_h2 %}程序猿们也要有娱乐！！！这里是你们的天堂哦~你们可以一大波人一起打桌游打电玩，可以集思广益，勇闯密室，也可以在KTV嘶吼（反正没人认识你），还可以网吧五连坐开黑打屁股~咳咳，当然，你还可以和女票在这里看电影~{% endblock %}

{% block content %}

<div class="news">
					<div class="container">
						<h3>电子竞技没有出门</h3>
						<div class="new-grids">

							<div class="col-md-6 new-grid" style="float:left; height: 375px;">
									<a  class="mask">
						<img src="/static/images/play_1.jpg" class="img-responsive zoom-img" alt="" style="height: 375px;"></a>
						</div>
							<div class="col-md-6 new-grid1" style="height: 375px;">
								<h5></h5>
								<h4>桌游区</h4>
								<p>创意城5楼：骰子镇西部牛仔桌游吧 创意城6楼：桌游区</p>
							</div>
							<div class="clearfix"></div>

							<div class="col-md-6 new-grid" style="float:right; height: 375px;">
									<a  class="mask">
						<img src="/static/images/play_2.jpg" class="img-responsive zoom-img" alt="" style="height: 375px;"></a>
						</div>
							<div class="col-md-6 new-grid1" style="height: 375px;">
								<h5></h5>
								<h4>电玩城</h4>
								<p>创意城七楼电玩城</p>
							</div>
							<div class="clearfix"></div>

							<div class="col-md-6 new-grid" style="float:left; height: 375px;">
									<a  class="mask">
						<img src="/static/images/play_3.jpg" class="img-responsive zoom-img" alt="" style="height: 375px;"></a>
						</div>
							<div class="col-md-6 new-grid1" style="height: 375px;">
								<h5></h5>
								<h4>桌球室</h4>
								<p>创意城七楼桌球室</p>
							</div>
							<div class="clearfix"></div>

							<div class="col-md-6 new-grid" style="float:right; height: 375px;">
									<a  class="mask">
						<img src="/static/images/play_4.jpg" class="img-responsive zoom-img" alt="" style="height: 375px;"></a>
						</div>
							<div class="col-md-6 new-grid1" style="height: 375px;">
								<h5></h5>
								<h4>博纳影城</h4>
								<p>创意城10楼博纳影城</p>
							</div>
							<div class="clearfix"></div>

							<div class="col-md-6 new-grid" style="float:left; height: 375px;">
									<a  class="mask">
						<img src="/static/images/play_5.jpg" class="img-responsive zoom-img" alt="" style="height: 375px;"></a>
						</div>
							<div class="col-md-6 new-grid1" style="height: 375px;">
								<h5></h5>
								<h4>密室逃脱</h4>
								<p>创意城10楼密室逃脱</p>
							</div>
							<div class="clearfix"></div>

							<div class="col-md-6 new-grid" style="float:right; height: 375px;">
									<a  class="mask">
						<img src="/static/images/play_6.jpg" class="img-responsive zoom-img" alt="" style="height: 375px;"></a>
						</div>
							<div class="col-md-6 new-grid1" style="height: 375px;">
								<h5></h5>
								<h4>网吧</h4>
								<p>漫城网吧（汉味烧烤二楼，出后门右转） 悠客网咖（广埠屯赛博数码4楼，入口较小，在珞珈胡同附近） 网鱼网咖（创意城4楼）</p>
							</div>
							<div class="clearfix"></div>

							<div class="clearfix"></div>
						</div>
					</div>
				</div>
{% endblock %}


