{% extends '__base__.html' %}

{% block title %}权益手册{% endblock %}
{% block header_height %}{% endblock %}
{% block header_h1 %} 欢迎使用权益手册{% endblock %}
{% block header_h2 %} 我们将带你了解武汉大学和国际软件学院，记得在武大迎新网完成登记注册。{% endblock %}
{% block index_download %} <p class="animate-box" data-animate-effect="fadeInUp"><a href="http://yx.whu.edu.cn/" class="btn btn-white btn-lg btn-outline">武大迎新网</a></p>{% endblock %}
{% block content %} 
	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>学在珞珈</h2>
					<p>百年名校，人文荟萃；珞珈山下，卷帙飘香。初来武汉大学，你的心中有没有一些激动呢？快快跟上，小权权带你去游览武大！</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-book"></i>
						</span>
						<h3>书卷飘香</h3>
						<p>武汉大学图书馆以其历史悠久、藏书丰富、建筑宏伟、环境幽雅而闻名于世。图书馆始创于1893年，后被列入第五批全国重点文物保护单位，这在国内图书馆界绝无仅有。</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-pin"></i>
						</span>
						<h3>樱花树下</h3>
						<p>每年的三四月份，是樱花盛开的季节。春天的樱花大道，花枝弄密，满眼的樱花沿着300米长的大道盛开，洁白如雪、灿若云海。抬头只见花不见天，是个晶莹透亮的世界。</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-vector"></i>
						</span>
						<h3>校门广场</h3>
						<p>恢弘壮阔的校门，应该是人们对于武大的第一印象。它于2013年建成，牌子的正面是由著名书法家、画家曹立庵题写的“国立武汉大学”六字，反面为中国语言家刘博平题写的“文法理工农医”六字。</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-shine"></i>
						</span>
						<h3>珞珈晴雨</h3>
						<p>武汉，每天都不一样。如果你是第一次来武汉的小伙伴，请多注意武汉的天气变化哦，天冷了就要多添几件衣服，小心感冒呀！雨伞也要带来以防不测哦。</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="gtco-portfolio" class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>美丽的校园</h2>
					<p style="font-size: 15px;">武汉大学，素以风景之秀丽、校园之博大、建筑之精美、文化之浓郁而赞誉满天下。它位于湖北省武汉市风景秀丽的东湖之滨，珞珈山麓，校园依山环湖，满园苍翠，桃红樱白，鸟语花香；古典式的建筑群古朴典雅，巍峨壮观，亭台楼阁造型别致，现代化的高楼拔地而起，气势雄伟；武汉大学环境优美，风景如画，是中国最美丽的大学，也是世界上最美丽的大学之一。</p>
				</div>
			</div>

			<div class="row row-pb-md">
				<div class="col-md-12">
					<ul id="gtco-portfolio-list">
						<li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/img_1.jpg); "> 
							<a href="#" class="color-1">
								<div class="case-studies-summary">
									<span>樱花</span>
									<h2>你知道嘛？樱花飘落的速度是每秒五厘米。</h2>
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/img_2.jpg); ">
							<a href="#" class="color-2">
								<div class="case-studies-summary">
									<span>国际软件学院</span>
									<h2>国软国软，牛逼闪闪。</h2>
								</div>
							</a>
						</li>


						<li class="one-half animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/img_3.jpg); ">
							<a href="#" class="color-3">
								<div class="case-studies-summary">
									<span>武大风采</span>
									<h2>最是橙黄橘绿时</h2>
								</div>
							</a>
						</li>
						<li class="one-half animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/img_4.jpg); ">
							<a href="#" class="color-6">
								<div class="case-studies-summary">
									<span>校门</span>
									<h2>学大汉，武立国。</h2>
								</div>
							</a>
						</li>
					</ul>		
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 col-md-offset-4 text-center animate-box">
					<a href="http://www.whu.edu.cn/" class="btn btn-white btn-outline btn-lg btn-block">武汉大学。</a>
				</div>
			</div>

			
		</div>
	</div>

	<div id="gtco-counter" class="gtco-section">

	</div>
{% endblock %}