{% extends '__base__.html' %}
{% block title %}学在珞珈{% endblock %}
{% block li_active_study %}active {% endblock %}
{% block header_h1 %} 欢迎使用权益手册{% endblock %}
{% block header_h2 %} 我们将带你了解武汉大学和国际软件学院，记得在武大迎新网完成登记注册。{% endblock %}
{% block beforehead %}
    <link href="/static/css/github-markdown.css" rel="stylesheet"></link>
    <!-- Modernizr JS -->
    <link rel="stylesheet" href="/static/css/code.css">
    <style type="text/css">
    .markdown p{
        margin: 0;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="clearfix"></div>
<div class="markdown">
    {{ md | safe }}
</div>
{% endblock %}